詳細ページ

<p>募集ジャンル　　　<%= @contribution.genre.name %></p>

<p>募集主　　　　　　<%= @contribution.customer.nickname %></p>

<p>募集人数　　　　　<%= @contribution.recruitment_numbers %></p>

<p>募集内容　　　　　<%= @contribution.content %></p>

<p>
  参加者　　　　　　<% @customer_contributions.each do |customer_contribution| %>
    <% if current_customer == @contribution.customer %>
      <% if customer_contribution.status == "approval" %>
        <%= customer_contribution.customer.discode %>
      <% end %>

      <% if customer_contribution.status == "request" %>
      　<%= customer_contribution.customer.nickname %>
        <%= link_to "承諾", change_status_customer_contribution_path(customer_contribution.id, params: { status: "approval"} ), method: :post %>
        <%= link_to "拒否", change_status_customer_contribution_path(customer_contribution.id, params: { status: "rejection"} ), method: :post %>
      <% end %>
    <% else %>
      <%= customer_contribution.customer.nickname %>
    <% end %>
    <% end %>
</p>
<%= link_to "一覧に戻る", contributions_path, class: "btn btn-primary" %>
<% if current_customer == @contribution.customer %>
  <%= link_to "編集する", edit_contribution_path(@contribution.id) %>
<% end %>